{% extends 'layouts/base.html.twig' %}

{% block title %}
	Accueil | APRESBAC
{% endblock %}

{% block body %}
	<!-- ======= Details Section ======= -->
	<section id="details" class="details">
		<div class="container">

			<div class="row content">
				<div class="col-md-4" data-aos="fade-right">
					<img src="{{ asset('uploads/images/details-1.png') }}" class="img-fluid" alt="">
				</div>
				<div class="col-md-8 pt-4 d-flex flex-column" data-aos="fade-up">
					<h3>Trouve le bon concours pour tes projets.</h3>
				
					<ul>
						<li>
							<i class="fas fa-check"></i>
							Vous trouvez une liste de tous les concours affichés, classés par date de clôture.</li>
						<li>
							<i class="fas fa-check"></i>
							Identifiez le concours qui vous aidera à atteindre vos objectifs.</li>
						
					</ul>
					
					<div class=" me-auto mt-4">
						<a href="{{ path('app_news') }}" id="btn">
							<svg viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
								<g data-name="Layer 2" id="Layer_2"><path d="M19,26a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L26.59,16l-8.3-8.29a1,1,0,0,1,1.42-1.42l9,9a1,1,0,0,1,0,1.42l-9,9A1,1,0,0,1,19,26Z"/><path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g>
								<g id="frame"><rect fill="none" height="32" width="32"/></g>
							</svg>
							Voir plus
						</a>
					</div>
				</div>
			</div>

			<div class="row content">
				<div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
					<img src="{{ asset('uploads/images/details-2.png') }}" class="img-fluid" alt="">
				</div>
				<div class="col-md-8 pt-5 order-2 order-md-1 d-flex flex-column" data-aos="fade-up">
					<h3>Découvre l'établissement de tes rêves.</h3>
					<ul>
						<li>
							<i class="fas fa-check"></i>
							Découvrez tous les établissements post-bac au Maroc, notamment les écoles d'ingénieurs, les écoles de commerce, les écoles de médecine, les universités et bien d'autres.</li>
						<li>
							<i class="fas fa-check"></i>
							Découvrez l'établissement qui correspond le mieux à vos besoins et à vos rêves.</li>
							<li>
							<i class="fas fa-check"></i>
						Recherchez parmi des centaines d'établissements pour trouver celui qui sera le plus adapté à votre projet.</li>
						
					</ul>

					<div class=" me-auto mt-4">
						<a href="{{ path('app_etablissement') }}" id="btn">
							<svg viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
								<g data-name="Layer 2" id="Layer_2"><path d="M19,26a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L26.59,16l-8.3-8.29a1,1,0,0,1,1.42-1.42l9,9a1,1,0,0,1,0,1.42l-9,9A1,1,0,0,1,19,26Z"/><path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g>
								<g id="frame"><rect fill="none" height="32" width="32"/></g>
							</svg>
							Voir plus
						</a>
					</div>

				</div>
			</div>

			<div class="row content">
				<div class="col-md-4" data-aos="fade-right">
					<img src="{{ asset('uploads/images/details-3.png') }}" class="img-fluid" alt="">
				</div>
				<div class="col-md-8 pt-5 d-flex flex-column" data-aos="fade-up">
					<h3>Explorez le monde en étudiant à l’étranger !</h3>
					<p>Savoir plus sur les programmes académiques d'études à l'international, les exigences d'admission, les frais de scolarité et les bourses d'études disponibles.</p>
				
					<div class=" me-auto mt-4">
						<a href="{{ path('app_etablissement_etudier_etranger') }}" id="btn">
							<svg viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
								<g data-name="Layer 2" id="Layer_2"><path d="M19,26a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L26.59,16l-8.3-8.29a1,1,0,0,1,1.42-1.42l9,9a1,1,0,0,1,0,1.42l-9,9A1,1,0,0,1,19,26Z"/><path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g>
								<g id="frame"><rect fill="none" height="32" width="32"/></g>
							</svg>
							Voir plus
						</a>
					</div>
				</div>
			</div>

			<div class="row content">
				<div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
					<img src="{{ asset('uploads/images/details-4.png') }}" class="img-fluid" alt="">
				</div>
				<div class="col-md-8 pt-5 order-2 order-md-1 d-flex flex-column" data-aos="fade-up">
					<h3>Testez-vous en un clic avec les QCM. </h3>
					<p class="fst-italic">
						Vous pouvez également trouver :
					</p>
					
					<ul>
						<li>
							<i class="fas fa-check"></i>
							Des conseils et des astuces pour préparer les concours, ainsi que des témoignages et des retours d'expérience d'étudiants qui ont réussi à passer ces concours.</li>
						<li>
							<i class="fas fa-check"></i>
							La liste des concours des années précédente.</li>
						<li>
							<i class="fas fa-check"></i>
							Les établissements spécialisés dans la préparation des concours (ENSA, ENCG, ENA, Médecine…) dans la ville de résidence.</li>
					</ul>
					<div class=" me-auto mt-4">
						<a href="{{ path('app_contact') }}" id="btn">
							<svg viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
								<g data-name="Layer 2" id="Layer_2"><path d="M19,26a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L26.59,16l-8.3-8.29a1,1,0,0,1,1.42-1.42l9,9a1,1,0,0,1,0,1.42l-9,9A1,1,0,0,1,19,26Z"/><path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g>
								<g id="frame"><rect fill="none" height="32" width="32"/></g>
							</svg>
							Voir plus
						</a>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- End Details Section -->
{% endblock %}
