{% extends 'layouts/base.html.twig' %}

{% block title %}
	Actualités | APRESBAC
{% endblock %}

{% block body %}
	<section class="all_news">
		<h1 class="title text-center pt-4">آخر
			<span>المستجدات</span>
		</h1>
		<div class="container">
			<div class="row" data-aos="fade-up">
				{% set delay = 100 %}
				{% for key, item in pagination %}
					<div class="col-12 mb-2" data-aos="zoom-in" data-aos-delay="{{delay}}">
						<div class="card p-4 row d-flex flex-row-reverse">

							{% set image =  null %}
							{% set title =  null %}
							{% if item.image %}
								{% set image =  'uploads/news/' ~ item.image %}
								{% set title =  item.title %}
							{% elseif  item.etablissement and item.etablissement.logo %}
								{% set image =  'uploads/etablissements/' ~ item.etablissement.logo %}
								{% set title =  item.etablissement.name %}
							{% endif %}
							<div class="col-md-8 mb-2 mb-md-0">
								<div class="d-flex align-items-center flex-row-reverse">
									{% if image %}
										<img src="{{ asset(image) }}" class="all_news--img" alt="{{title}}" title="{{title}}">
									{% endif %}
									<div>
										<h2 dir="RTL" class="all_news--title  flex-grow-1 text-end">
											{{item.title}}
										</h2>
										{% if item.dateLimitInscription %}

											<p dir="RTL" class="text-end all_news--dateLimitInscription">
												قبل
												<strong>{{item.dateLimitInscription | date('Y/m/d')}}</strong>
											</p>
										{% endif %}
									</div>
								</div>
							</div>
							{% if item.docNews | length > 0 %}
								<div dir="RTL" class="col all_news--docs">
									<ul>
										{% for doc in item.docNews %}
											<li>
												{% if doc.link %}
													<a href="{{doc.link}}" target="_blank">{{doc.title}}</a>
												{% endif %}
												{% if doc.file %}
													<a href="{{ asset('uploads/news_docs/' ~ doc.file)}}" download>{{doc.title}}</a>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</div>
					</div>
					{% set delay = delay + 50 %}
				{% endfor %}
			</div>
		</div>
		<div class="pagination justify-content-center py-4 ">
			{{ knp_pagination_render(pagination, '/Pagination/custom_pagination_bootstrap_ar.html.twig') }}
		</div>
	</section>
{% endblock %}
