{% for key, item in otherNews %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
        <a href="{{ path('app_news_show', { slug: item.slug }) }}" class="news__show-sidebar--img"
        style="background-image: url('{{ asset('uploads/news/' ~ item.image) }}')">
        </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="{{ path('app_news_show', { slug: item.slug }) }}" class="news__show-sidebar--card-title"><h5 class="card-title">{{item.title}}</h5></a>
        <p class="card-text">
            <small class="text-muted">
                <i class="fa-regular fa-clock"></i>
                Publiée
                <time datetime="{{ item.publishedAt|date('Y-m-d H:i') }}">{{ item.publishedAt|ago }}</time>
            </small>
        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
