{% extends 'layouts/base.html.twig' %}

{% block title %}
	{{news.title ~ '| APRESBAC'}}
{% endblock %}

{% block body %}
	<div class="news__show">
		<div class="news__show-header mb-4">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="news__show-header--img">
							<img src="{{ asset('uploads/news/' ~ news.image ) }}" alt="{{news.title}}"/>
						</div>
					</div>
					<div class="col-12 col-lg-6 mt-4 mt-lg-0">
						<h1 class="news__show-header--title">{{news.title}}</h1>
						<p>
							<small class="text-muted">
								<i class="fa-regular fa-clock"></i>
								Publiée le:
								<time datetime="{{ news.publishedAt|date('Y-m-d H:i') }}">{{ news.publishedAt|date('Y-m-d à H:i') }}</time>
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8">
					<article>
						{{news.content | raw}}
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<div class="position-sticky" style="top: 2rem;">
						<div class="news__show-sidebar">
							<h3 class="news__show-sidebar--title">Voir aussi</h3>
							{# Other News #}
							{{ include('news/other_news.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
